/* @theme njuaqua */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  font-family: Inter, Helvetica, Arial;
  --brand-color: rgb(2 136 209);
}

section {
  padding: 100px 40px 30px 40px;
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: right 40px top 40px;
  justify-content: start;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-color);
  font-weight: 700;
}

a {
  color: #9d30a6;
}

code {
  background-color: rgba(146, 146, 146, 0.2);
}

pre {
  background-color: #ece1ecad;
}

p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}

table th {
  background: var(--brand-color);
  color: white;
}

table th,
table td {
  font-size: 0.8rem;
  border: 2px solid #0fc8f2;
}

/* https://github.com/yhatt/marp/issues/263 */
section::after {
  font-size: 0.75em;
  color: var(--brand-color);
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: lead */
section.lead {
  padding: 70px 70px 70px 70px;
  background-size: 300px;
  background-position: 70px top 100px;
  align-items:center;
}

section.lead h1 {
  padding-top: 150px;
  font-size: 2rem;
  height: 4rem;
  margin-bottom: 90px;
  margin-right: 0px;
  text-align:center;
  
}

section.lead h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 横向布局 */
:root.hLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*-----------------------------------------------------------*/
/*********/
/* Lists */
/*********/

ul, ol {
    line-height: 1.75;
    margin: 0 0 0 2%;   /* Z. Huang*/ 
    /*margin: calc(.5*var(--text-padding)) 0;*/
    padding: 0 1em; /* Compensate for list number / dot */
}
/* 页眉 */
:root header {
  left: 0;
  top: 0;
  padding: 12px 0 12px 30px;
  width: 100%;
  background-image: url("http://114.212.123.179:5009/api/images/20260130161626241.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: left;
  color: whitesmoke;
  font-size: 36px;
  text-shadow: none;
}

:root header::after {
  content: '';
  height: 50px;
  width: 250px;
  position: absolute;
  right: 50px;
  top: 12px;
  background-image: url("http://114.212.123.179:5009/api/images/20260130161529561.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/* 感谢 */
section.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("http://114.212.123.179:5009/api/images/20260130161759786.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity:1.0;
}

section.thanks h1 {
  font-size: 90px;
  height: 5rem;
  margin-right: 0px;
  text-align:center;
  opacity:1.0;
  
}

section.thanks h2 {
  padding-bottom: 400px;
}

/* multiple columns */
.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 3%;
}

.column1 {
  margin: 0%;
}

.column2 {
  margin: 0%;
  grid-column: span 2;
}


